# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================================
# Intel Quartus & Platform Designer Outputs
# ==========================================
# Carpetas de base de datos de síntesis e incremental
db/
incremental_db/
/hw/db/
/hw/incremental_db/

# Reportes y logs de compilación
*.rpt
*.summary
*.smsg
*.txt
*.done
*.jdi
*.pin
*.qws

# Archivos de bitstream finales (se generan localmente)
*.sof
*.pof
*.ttf

# Archivos temporales de Platform Designer
.qsys_edit/
*.modules
*.csv
*.spd